/* setup */

:root {
    --bg: #ffffff;
    --fg: #050505;
    --hd-bg: #050505;
    --hd-fg: #ffffff;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg);
    color: var(--fg);
}

p {
    font-weight: 500;
}

li {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #ff0000;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease;
}

a:hover {
    background-color: #050505;
    color: #ffffff;
}

/* top-bar */

#header {
    width: 100%;
    height: 10vh;
    background-color: var(--hd-bg);
    color: var(--hd-fg);
    margin: 0;
    padding: 0 0.8rem 0 0.8rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

#header img {
    width: 4rem;
    height: auto;
}

/* content */

main {
    margin: 0.2rem 0.8rem 0.8rem 0.8rem ;
}

section {
    margin-top: 1.2rem;
}

#labs ul{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.8rem 0.2rem;
}

#labs ul li::before {
    content: "\2726";
    color: #ff0000;
}